@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Fira+Code:wght@400;600&family=Audiowide&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  @apply scroll-smooth;
}
body{
  @apply bg-bgColor text-textColor w-full overflow-x-hidden font-poppins;
}
.afterTitle{
  @apply after:content-normal after:h-[1px] after:w-full after:bg-titleColor/20 after:block after:relative after:ml-6;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #52525281; 
    border-radius: 6px;
    border: 3px solid #010f23; 
}

